.row{
    padding-left: 70px;
    padding-right: 70px;
}

.container-fuid{
    padding: 70px 0;
}

.header, .navbar{
    background-color: rgb(80, 80, 80);
}

.navbar-links a{
    color: #fff;
    padding-right: 35px;
}

.img_farmacia{
    position: relative;
    width: 70px;
}

.img_cat_menu{
    position: relative;
    height: 45px;
    top: 17px;
}

/*.menu{
    background-color: white;
    padding: 20px;
}
*/

.introducao{
    background-color: #1b5b89;
    padding: 30px;
    height: 400px;
}

.div_introducao{
    margin-top: 50px;
}

.img_obj_inteligente{
    width: 50%;
    position: relative;
}

.quem_somos{
    padding: 30px;
    height: 440px;
}

.btn_quemsomos{
    background-color: #f88221;
    color: #fff;
    border-radius: 8px;
    padding: 4px 19px;
}

.img_quem_somos{
    width: 80%;
    position: relative;
    height: 370px;
    bottom: 30px;
}

.depoimentos{
    background-color: #00c0a3;
    color: #023153;
    padding: 30px;
}

.depoimentos_parag{
    color: #fff;
}

.card_depoimentos{
    height: 222px;
    color: #fff;
    background-color: #1b5b89;
    bottom: 70px;
}

.img_depoimentos{
    color: #fff;
    margin-top: 20px;
    position: relative;
    height: 180px;
    bottom: 20px;
    right: 10px;
}

.noticias{
    padding: 30px;
}

.btn_noticias{
    background-color: #f88221;
    color: #fff;
    border-radius: 8px;
    padding: 4px 19px;
}

.imgs_news{
    width: 70%;
}

.icon-btn-1{
    margin-right: -160px;
    position: relative;
    top: 40px;
}

.icon-btn-2{
    margin-left: -160px;
    position: relative;
    top: 40px;
}

.socios{
    background-color: #1b5b89;
    color: #fff;
    margin-top: 20px;
    height: 350px;
}

.div_socios{
    margin-top: 25px;
    display: inline-flex;
}

.card-column{
    display: inline-block
}

.img_socios{
    height: 250px;
    position: relative;
    margin-top: 30px;
}

.assinaturas{
    padding: 30px;
    color: #094c7d;
    margin-top: 155px;
}

.parag_assinatura{
    color: #f88221;
}
.usuarios_plano{
    /*background-image: url("../img/fundo.png");*/
    top: 155px;
    width: 25%;
    position: relative;
    left: 70px;
}

.background_usuarios_plano{
    background-image: url("../img/fundo.png");
    height: 350px;
}

.faq{
    background-color: #00c0a3;
    padding: 30px;
    color: #fff;
    height: 680px;
}

.img_faq{
    width: 480px;
    position: relative;
    bottom: 130px;
}

.botoes_accordion{
    color: #fff;
    background-color: #094c7d;
}

.div_accordion{
    width: 520px;
}

.faq_text{
    color: #023153;
}

.servicos{
    padding: 30px;
    height: 400px;
}

.btn_news{
    background-color: #f88221;
    color: #fff;
    border-radius: 8px;
    padding: 4px 19px;
}

.servicos_post{
    color: #023153;

}

.content 
{
    padding: 0px 20% 0px 20% !important;
}

.icon_footer{
    margin-right: 30px;
}

.txt_footer{
    margin-top: 15px;
}